*{
 margin: 0;
 padding: 0; 
 font-family: "poppins";
 box-sizing: border-box;
    
}



/*Aqui comeca o css do  index*/
    .conteiner{
        display: flex;
        width: 100%;
        height: 100vh;
    }

    .lado_esquerdo{
        width: 65%;
        margin: 5px 0px 5px 5px ;
        border-radius: 15px 0px 0px 15px;
        background-image: url(midia/banner.jfif);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .lado_direito{
        width: 35%;
        display: flex;
        flex-direction: column;
        padding-top: 30px;
    }
    .titulo{
        width: 300px;
        font-size: 20px;
        line-height: 230%;
    }
    .titulo > h1{
        display: flex;
        justify-content: end;
    }
    .area_botao{
        padding-top: 250px;
        width: 100%;
        height: 100%;
    }
    .botao{
        display: flex;
        width: auto;
        padding: 0px 0px 30px 0px;
        align-items: center;
        gap: 20px;
    }
    .icone_botao{
        display: flex;
        border-radius: 0px 25px 25px 0px;
        width: 150PX;
        height: 50PX;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px 0px;
        align-items: center;
        justify-content: center;
    }
    .icone_botao > img{
        width: 50PX;
    }
/*Aqui se encerra o css do index*/

/*Aqui começa  o css do membro*/
#D_membro{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.area_inputs{
    width:70%;
    max-width: 400px;
    height:auto;
}
.Inputs{
    display: grid;
    gap: 20px;
}    
.titulo1{
    line-height: 0.1%;
    font-style: 60px;
}
.titulo2{
    font-size: 46px;
}
.input{
   text-align: justify; 
}
.input input{
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
    height: 30px;
    box-shadow:  rgba(0, 0, 0, 0.5) 2px 2px 3px 1px;
    padding-left: 20px;
}
input[type="file"]{
    display: none;
}
label {
    width: 100%;
    height: 80px;
    background-color: #4287f5;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0;
    cursor: pointer;
    border-radius: 5px;
    align-items: center;
    box-shadow:  rgba(0, 0, 0, 0.5) 2px 2px 3px 1px;
}
label img{
    width: 50px;
}

/*Aqui se encerra o css do membros*/

/*Aqui se comeca o css do loginsonoplasta*/

.lado_direito{
    align-items: center;
    justify-content: center;
}
.areaInputSono{
    display: flex;
    flex-direction: column;
    width:380px;
    gap: 35px;    
}

/*Aqui se encerra o css do loginsonoplasta*/
